@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}   

body{
    background: #f4f4f4;
    margin: 0;
}

/* navbar */

.navbar{
    background: #3f2b96;
    color: white;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color: yellow;
    margin-left: 16px;
    border-radius: 24px;
    padding: 8px;
}
.navbar a {
    color: white;
    margin-left: 16px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.hero {
    background: lightblue;
    color: white;
    padding: 40px;
    text-align: center;
}
.search-box {
    margin-top: 20px;
}

.search-box input {
    padding: 10px;
    width: 250px;
}

.search-box button {
    padding: 10px;
    cursor: pointer;
}

.movie-grid {
    display: grid;
    gap: 20px;
    padding: 30px;
}
.movie-card {
    background: white;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.movie-card h4 {
    margin: 10px;
}

.movie-card p {
    font-size: 14px;
    color: grey;
}